@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);


#ext_menu-3 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-3.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-3 .mbr-navbar__hamburger {
  color: #000000;
}
#ext_menu-3 .mbr-brand__name a {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-3 .mbr-navbar__items a {
  font-size: 25px;
}
#header4-4 P {
  font-size: 46px;
}
#header4-b H1 {
  font-size: 30px;
  text-align: center;
  font-family: 'Arimo', sans-serif;
}
#header4-c P {
  font-size: 46px;
}
